body {
    font-family: inconsolata;
    background-image: url("donaldtrump.gif");
}

nav {
    border-bottom: solid black 3px;
    height: 40px;
    background-color: white;
}

nav ul {
    list-style: none;
    margin-bottom: 0px
}

nav li {
    display: inline-block;
    margin-right:20px
}

#left {
    float:left;
    padding-left: 17px;
    font-weight: 800;
    font-size: 20px;
    margin-top: 12px;
}

#right {
    float: right;
    padding-left: 5px;
    margin:5px;
    
}

a {
    text-decoration: none;
    color:black;
}

/*
.pagethree {
    color:black;
}
a:visited {
    color:black;
}

a:hover {
    font-weight: 800;
}
*/

/********************************************
   MAIN PAGE
********************************************/
.container {
	width: 1024px;
	margin: 0 auto;
}

#trump{
	 text-align: center;
	 margin-top: 100px;
}

#column1{
    width: 400px;
    float: left;
    margin-top: 50px;
    margin-left: 70px;
}

#column2{
     width: 400px;
     float: right;
     margin-top: 50px;
     margin-right: 50px;
     border-color: black;
}

.topbanner{
/*	background-color: grey;*/
}


.drake {
    
}

/********************************************
   ISSUES
********************************************/


#wrapper{
    width: 1024px;
    margin: 0 auto;
    background-color: azure;
    border-radius: 36px 12px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.side3{
    width: 331px;
    float: left;
    margin-left: 100px;
    margin-bottom: 350px;
/*    padding-left: 16px;*/
    
/*
    padding-left: 16px;
    display: inline-block;
    margin: 0px auto;
*/

}

.side{
  float: right;
  width: 331px;
  margin-right: 100px;
    margin-top: 250px;
  
}

.side2{
/*   float: right;*/
   width: 331px; 
    margin-left: 100px;

}

/********************************************
  h1's...copy & pasted from .pagethree
*********************************************/

/*
h1{
    color:black;
}
a:visited {
    color:black;
}

a:hover {
    font-weight: 800;
}
*/



h1 {
	text-align: center;
	margin-top: 50px;
	color: black;
    font-size: 50px;
}

#trumpmain{
    text-align: center;
}

p {
  font-size: 15px;
}

.media {
    text-align: center;
}

#alig {
    margin-left: 75px;
    float: left;
    background-color: azure;
    border-radius: 45px 12px;
    width: 600px;
    height: 400px
}

#letterman {
    float:right;
    background-color: azure;
    border-radius: 36px 12px;
    width: 460px;
    height: 400px;
    margin-right: 150px;
    align-content: center
}


#instagram {
    padding-left: 20px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 680px;
    height: 550px;
    display: inline-block;
    background-color: azure;
    border-radius: 36px 12px;
}
