body {
    font-family: inconsolata;
}

nav {
    border-bottom: solid black 2px;
    height: 40px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right:20px
}

#left {
    float:left;
    padding-left: 17px;
    font-weight: 800;
    font-size: 20px;
    margin-top: 12px;
}

#right {
    float: right;
    padding-left: 5px;
    margin:5px;
    
}

a {
    text-decoration: none;
    color:black;
}

a:visited {
    color:black;
}

a:hover {
    font-weight: 800;
}

/**************************
   MAIN PAGE
**************************/
#container {
	width: 1024px;
	margin: 0 auto;
}

#trump{
	 text-align: center;
	 margin-top: 100px;
}

#column1{
    width: 400px;
    float: left;
    margin-top: 50px;
    margin-left: 70px;
}

#column2{
     width: 400px;
     float: right;
     margin-top: 50px;
     margin-right: 50px;
     border-color: black;
}

.topbanner{
	background-color: grey;
}

h1{
	text-align: center;
	margin-top: 50px;
	color: white;
}


/**************************
   POLICY
**************************/

.side3{
    /*margin-right: 0;*/
    /*float: center;*/
    width: 200px;
    padding-left: 16px;
    display: inline-block;
    margin: 0px auto;

}

.side{
  float: left;
  width: 200px;
  

}

.side2{
   float: right;
   width: 200px;

}


